html {

  font-family: Georgia, serif;

  background-color: #f5f2f0;
}

h1 {
  color: #000;
  font-family: Montserrat, sans-serif;
}
.quote-1 {
  color: #fff;
  background-color: #000;
  font-family: "Fjalla One", sans-serif;
}

.quote-2 {
  color: #000;
  background-color: lightgray;
}

.part-a {
  font-family: "Josefin Sans", sans-serif;
  float: right;
}

.part-b {
  font-family: "Josefin Sans", sans-serif;
}

.quote-3 {
  color: #e8e3e0;
  background-color: darkgray;
  font-family: Montserrat, sans-serif;
}

.word {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #2e2d2c;
}

a .part-1:hover {
  color: #fff;
}
a .part-2:hover {
  color: #a6a3a0;
}
