html {

  font-family: Georgia, serif;

  background-color: #f5f2f0;
}

.quote-1 {
  color: white;
  background-color: black;
  font-family: "Fjalla One", sans-serif;
}

.quote-2 {
  color: black;
  background-color: lightgray;
}

.part-a {
  font-family: "Josefin Sans", sans-serif;
  float: right;
}

.part-b {
  font-family: "Josefin Sans", sans-serif;
}

.quote-3 {
  color: lightgray;
  background-color: darkgray;
  font-family: Montserrat, sans-serif;
}

.word {
  font-family: "Fjalla One", sans-serif;
}

a:hover {
  color: #2e2d2c;
}

.glass {
  color: #fff;
}

.steel {
  color: #a6a3a0;
}
