@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Georgia, serif;

  background-color: #f5f2f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.quote-1 {
  color: white;
  background-color: black;
  font-family: 'Fjalla One', sans-serif;
}

.quote-2 {
  color: black;
  background-color: lightgray;
}

.part-a {
  font-family: 'Josefin Sans', sans-serif;
  float: right;
}

.part-b {
  font-family: 'Josefin Sans', sans-serif;
}

.quote-3 {
  color: lightgray;
  background-color: darkgray;
  font-family: 'Montserrat', sans-serif;
}

.word {
  font-family: 'Fjalla One', sans-serif;
}

a:hover {
  color: #7a7978y;
}
